body{
	font-family: sans-serif;
	background: url('https://unsplash.com/photos/Dqx4XWuXu7w');
	background-size: cover;
	width: 100%;
	margin: 0 auto;
}
#header{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}
